* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #fff;
    --secondary-color:black;
    --tertiary-color: #22f730;
}

.container {
    width: 100%;
}

.nav-links {
    display: block;
}

.nav-links ul {
    display: block;
}

.nav-links ul li {
    margin: 1rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 2rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--primary-color);
    margin: 0.4rem;
    text-align: center;
}

#active {
    color: var(--primary-color);
}

.nav-links a:hover {
    color: #22f730;
}

.animation {
    animation: fade-in 0.2s linear forwards;
}

.main {
    /* background-image: url("images/drvin/APATURE\ WEB_1.gif"); */
    background-position: -3rem;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.main img {
    width: 100%;
    height: 50vh;
    object-fit: fill;
    object-position: center;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    position: relative;
    top: -5rem;
    animation: drop-down 1s ease forwards;
}

.logo h1 {
    color: var(--primary-color);
}

.main-1 {
    background-image: url(APATURE\ MESSAGE.gif);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.services .ff{
    /* width: 100%;
    background-color: rgb(22, 21, 21); */
    /* background-image: url(images/drvin/SERVICES-N.jpg); */
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.services .ss {
    margin-top: -20px;
    height: 330vh;
}

.services .videos {
    width: 90%;
    margin: 0 auto;
    overflow-y: hidden;
    height: 390vh;
    position: absolute;
    top: 120vh;
    left: 5%;
}

.services .videos video {
    width: 400px;
    overflow-y: hidden;
    margin: 0 auto;
}

.services .videos .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 100px;
}
.services .second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    gap: 2rem;
}
.services .third {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 2rem;
    margin-bottom: 170px;
}

.main-2 {
    background-image: url(Testimonials.gif);
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: contain;
    margin-top: 5vh;
}

    .contacts {
        background-image: url(new\ contact.jpg);
        width: 100%;
        height: 35vh;
        background-position: center;
        background-size: contain;
        margin-top: 20px;
    }

    .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contacts .numbers {
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        font-size: x-small;
        font-family: "Poppins", serif;
        margin: 120px 0 0 5px;
    }

    .contacts .numbers a {
        text-decoration: none;
        color: #fff;
        padding-right: 30px;
    }
    
    .contacts .socials {
        display: flex;
        width: 100px;
        justify-content: flex-start;
        margin: 20px 0 0 0px;
    }
    
    .contacts img {
        width: 25px;
        height: 25px;
        padding: 5px;
    }


@keyframes drop-down {
    0% {
        top: -5rem;
    }

    100%{
        top: 0;
    }
}




/*  MEDIA QUERIES   */

@media (min-width: 375px){
    .nav-links ul li {
        margin: 1rem;
        border: 2px solid var(--tertiary-color);
        border-radius: 2rem;
    } 
    
}

@media (min-width: 640px){
    .nav-links ul li {
        margin: 1rem;
        border: 2px solid var(--tertiary-color);
        border-radius: 2rem;
    } 
    
    .nav-links a {
        text-decoration: none;
        font-size: 0.9rem;
        color: var(--primary-color);
        margin: 0.6rem;
        text-align: center;
    }

    .main {
        /* background-image: url("images/drvin/APATURE\ WEB_1.gif"); */
        background-position: -3rem;
        background-size: cover;
        width: 100%;
        height: 70vh;
    }

    .main img {
        width: 100%;
        height: 70vh;
        object-fit: fill;
        object-position: center;
        position: absolute;
    }

    .services .ff{
        /* width: 100%;
        background-color: rgb(22, 21, 21); */
        /* background-image: url(images/drvin/SERVICES-N.jpg); */
        background-size: contain;
        width: 100%;
        height: 140vh;
    }
    
    .services .ss {
        margin-top: -20px;
        height: 0;
    }

    .services .videos {
        width: 90%;
        margin: 0 auto;
        overflow-y: hidden;
        height: 140vh;
        position: absolute;
        top: 120vh;
        left: 5%;
    }
    
    .services .videos video {
        width: 400px;
        overflow-y: hidden;
        margin: 0 auto;
    }
    
    .services .videos .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 200px;
    }
    .services .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 2rem;
    }
    .services .third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 2rem;
        margin-bottom: 170px;
    }

    .main-2 {
        background-image: url(Testimonials.gif);
        width: 100%;
        height: 40vh;
        background-position: center;
        background-size: contain;
        margin-top: 5vh;
    }
    
    .contacts {
        background-image: url(new\ contact.jpg);
        width: 100%;
        height: 50vh;
        background-position: center;
        background-size: contain;
        margin-top: 20px;
    }

    .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contacts .numbers {
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        font-size: small;
        font-family: "Poppins", serif;
        margin: 180px 0 0 0px;
    }

    .contacts .numbers a {
        text-decoration: none;
        color: #fff;
        padding-right: 30px;
    }
    
    .contacts .socials {
        display: flex;
        width: 100px;
        justify-content: space-between;
        margin: 20px 0 0 0px;
    }
    
    .contacts img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    
}

@media (min-width: 768px){
    .nav-links ul li {
        margin: 1rem;
        border: 2px solid var(--tertiary-color);
        border-radius: 2rem;
    } 
    
    .nav-links a {
        text-decoration: none;
        font-size: 1.1rem;
        color: var(--primary-color);
        margin: 0.8rem;
        text-align: center;
    }

    .main {
        /* background-image: url("images/drvin/APATURE\ WEB_1.gif"); */
        background-position: -3rem;
        background-size: cover;
        width: 100%;
        height: 90vh;
    }

    .main img {
        width: 100%;
        height: 90vh;
        object-fit: fill;
        object-position: center;
        position: absolute;
    }

    .main-1 {
        background-image: url(APATURE\ MESSAGE.gif);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .services .ff{
        /* width: 100%;
        background-color: rgb(22, 21, 21); */
        /* background-image: url(images/drvin/SERVICES-N.jpg); */
        background-size: contain;
        width: 100%;
        height: 180vh;
    }
    
    .services .ss {
        margin-top: -20px;
        height: 0;
    }

    .services .videos {
        width: 90%;
        margin: 0 auto;
        overflow-y: hidden;
        height: 140vh;
        position: absolute;
        top: 200vh;
        left: 5%;
    }

    .services .videos video {
        width: 400px;
        overflow-y: hidden;
        margin: 0 auto;
    }
    
    .services .videos .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 200px;
    }
    .services .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 2rem;
    }
    .services .third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 2rem;
        margin-bottom: 170px;
    }

    .main-2 {
        background-image: url(Testimonials.gif);
        width: 100%;
        height: 60vh;
        background-position: center;
        background-size: contain;
    }
    
    .contacts {
        background-image: url(new\ contact.jpg);
        width: 100%;
        height: 60vh;
        background-position: center;
        background-size: contain;
        margin-top: 20px;
    }

    .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contacts .numbers {
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        font-size: medium;
        font-family: "Poppins", serif;
        margin: 200px 0 0 30px;
    }

    .contacts .numbers a {
        text-decoration: none;
        color: #fff;
        padding-right: 30px;
    }
    
    .contacts .socials {
        display: flex;
        width: 100px;
        justify-content: flex-start;
        margin: 70px 0 0 20px;
    }
    
    .contacts img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
   
}


@media (min-width: 1024px){

    .nav-links ul li {
        margin: 1rem;
        border: 2px solid var(--tertiary-color);
        border-radius: 2rem;
    } 

    .main-1 {
        background-image: url(APATURE\ MESSAGE.gif);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .main img {
        width: 100%;
        height: 100vh;
        object-fit: fill;
        object-position: center;
        position: absolute;
    }

    .services .ff{
        /* width: 100%;
        background-color: rgb(22, 21, 21); */
        /* background-image: url(images/drvin/SERVICES-N.jpg); */
        background-size: contain;
        width: 100%;
        height: 180vh;
    }
    
    .services .ss {
        margin-top: -20px;
        height: 0;
    }

    .services .videos {
        width: 90%;
        margin: 0 auto;
        overflow-y: hidden;
        height: 170vh;
        position: absolute;
        top: 210vh;
        left: 5%;
    }

    .services .videos video {
        width: 400px;
        overflow-y: hidden;
        margin: 0 auto;
    }
    
    .services .videos .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 200px;
    }
    .services .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 2rem;
    }
    .services .third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 2rem;
        margin-bottom: 170px;
    }

    .main-2 {
        background-image: url(Testimonials.gif);
        width: 100%;
        height: 80vh;
        background-position: center;
        background-size: contain;
        margin-top: 5vh;
    }
    
    .contacts {
        background-image: url(new\ contact.jpg);
        width: 100%;
        height: 80vh;
        background-position: center;
        background-size: contain;
        margin-top: 20px;
    }

    .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contacts .numbers {
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        font-size: medium;
        font-family: "Poppins", serif;
        margin: 270px 0 0 20px;
    }

    .contacts .numbers a {
        text-decoration: none;
        color: #fff;
        padding-right: 150px;
    }
    
    .contacts .socials {
        display: flex;
        width: 100px;
        justify-content: space-between;
        margin: 100px 0 0 10px;
    }
    
    .contacts img {
        width: 35px;
        height: 35px;
        padding: 5px;
    }
}

@media (min-width: 1280px){

    .nav-links ul li {
        margin: 1rem;
        border: 2px solid var(--tertiary-color);
        border-radius: 2rem;
    } 
}
@media (min-width: 1536px){
    
}

