* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #fff;
    --secondary-color:black;
    --tertiary-color: #0d7c14;
}

.container {
    width: 100%;
}

.nav-links ul li {
    margin: 0.5rem;
    border: 1px solid var(--tertiary-color);
    border-radius: 1rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 0.6rem;
    color: var(--primary-color);
    margin: 0.3rem;
    text-align: center;
}

#active {
    color: var(--primary-color);
}

.nav-links a:hover {
    color: #22f730;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.05rem;
    position: relative;
    top: -11rem;
    animation: drop-down 1s ease forwards;
}

.logo h1 {
    color: var(--primary-color);
}

.animation {
    animation: fade-in 0.2s linear forwards;
}

.main img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container .story {
    background-image: url(APATURE\ MESSAGE.gif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: -100px;
}

.services .ff {
    object-fit: cover;
}

.services .ss {
    margin-top: -10px;
    height: 320vh;
}

.services .videos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    margin: 0 auto;
    height: 380vh;
    position: absolute;
    top: 80vh;
}

.services .videos video {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.services .videos .first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 100px;
}

.services .second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    gap: 2rem;
}

.services .third {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 2rem;
    margin-bottom: 170px;
}

.testimony img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.contacts {
    background-image: url(new\ contact.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.contacts .icons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 150px;
    margin-left: 15%;
}

.icons .numbers {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.icons .numbers p {
    font-size: 12px;
    color: #fff;
}

.icons .numbers a {
    text-decoration: none;
    color: #fff;
}

.icons .socials {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    width: 12%;
    margin-top: 10px;
}

@keyframes drop-down {
    0% {
        top: -21rem;
    }

    100%{
        top: -11rem;
    }
}

@media (min-width: 375px) {
  
    .nav-links a {
        text-decoration: none;
        font-size: 0.6rem;
        color: var(--primary-color);
        margin: 0.3rem;
        text-align: center;
    }
 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.05rem;
        position: relative;
        top: -13rem;
        animation: drop-down 1s ease forwards;
    }
    
    .logo h1 {
        color: var(--primary-color);
    }
    
    .animation {
        animation: fade-in 0.2s linear forwards;
    }
    
    .main img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .container .story {
        background-image: url(APATURE\ MESSAGE.gif);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 40vh;
        margin-top: -100px;
    }
    
    .services .ff {
        object-fit: cover;
    }
    
    .services .ss {
        margin-top: -10px;
        height: 320vh;
    }
    
    .services .videos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        margin: 0 auto;
        height: 380vh;
        position: absolute;
        top: 90vh;
    }
    
    .services .videos video {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    
    .services .videos .first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 100px;
    }
    
    .services .second {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        gap: 2rem;
    }
    
    .services .third {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 2rem;
        margin-bottom: 170px;
    }
    
    .testimony img{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
    }
    
    .contacts {
        background-image: url(new\ contact.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    
    .contacts .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 150px;
        margin-left: 15%;
    }
    
    .icons .numbers {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .icons .numbers p {
        font-size: 12px;
        color: #fff;
    }
    
    .icons .numbers a {
        text-decoration: none;
        color: #fff;
    }
    
    .icons .socials {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        width: 12%;
        margin-top: 10px;
    }

    @keyframes drop-down {
        0% {
            top: -21rem;
        }
    
        100%{
            top: -11rem;
        }
    }
}
@media (min-width: 640px) {
    .nav-links a {
        text-decoration: none;
        font-size: 0.8rem;
        color: var(--primary-color);
        margin: 0.3rem;
        text-align: center;
    }
 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.05rem;
        position: relative;
        top: -15rem;
        animation: drop-down 1s ease forwards;
    }
      
    .services .videos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        margin: 0 auto;
        height: 380vh;
        position: absolute;
        top: 120vh;
    }
    
    .contacts .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 150px;
        margin-left: 11%;
    }

    .icons .numbers p {
        font-size: 14px;
        color: #fff;
    }

    @keyframes drop-down {
        0% {
            top: -21rem;
        }
    
        100%{
            top: -15rem;
        }
    }
}
@media (min-width: 768px) {
    .nav-links a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--primary-color);
        margin: 0.5rem;
        text-align: center;
    }
 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.05rem;
        position: relative;
        top: -19rem;
        animation: drop-down 1s ease forwards;
    }

    .container .story {
        background-image: url(APATURE\ MESSAGE.gif);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        margin-top: -100px;
    }

    .services .ff {
        object-fit: cover;
    }
    
    .services .ss {
        margin-top: -10px;
        height: 80vh;
    }
      
    .services .videos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        margin: 0 auto;
        height: 200vh;
        position: absolute;
        top: 150vh;
        left: 1rem;
        right: 1rem;
    }

    .services .videos video {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .services .videos .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 100px;
    }
    
    .services .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 1rem;
    }
    
    .services .third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 1rem;
    }

    .contacts {
        background-image: url(new\ contact.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    
    .contacts .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 220px;
        margin-left: 11%;
    }

    .icons .numbers p {
        font-size: 15px;
        color: #fff;
    }

    .icons .socials {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        width: 10%;
        margin-top: 10px;
    }

    @keyframes drop-down {
        0% {
            top: -21rem;
        }
    
        100%{
            top: -19rem;
        }
    }
}
@media (min-width: 1024px) {
    .nav-links a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--primary-color);
        margin: 0.5rem;
        text-align: center;
    }
 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.05rem;
        position: relative;
        top: -24rem;
        animation: drop-down 1s ease forwards;
    }

    .container .story {
        background-image: url(APATURE\ MESSAGE.gif);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        margin-top: -100px;
    }

    .services .ff {
        object-fit: cover;
    }
    
    .services .ss {
        margin-top: -10px;
        height: 70vh;
    }
      
    .services .videos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        margin: 0 auto;
        height: 170vh;
        position: absolute;
        top: 190vh;
        left: 1rem;
        right: 1rem;
    }

    .services .videos video {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .services .videos .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        margin: 50px auto;
    }
    
    .services .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 1rem;
        margin: 0 auto 50px auto;
    }
    
    .services .third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 1rem;
        margin: 0 auto;
    }

    .contacts {
        background-image: url(new\ contact.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
    
    .contacts .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 270px;
        margin-left: 11%;
    }

    .icons .numbers {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }

    .icons .numbers p {
        font-size: 18px;
        color: #fff;
    }

    .icons .socials {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        width: 10%;
        margin-top: 10px;
    }

    @keyframes drop-down {
        0% {
            top: -21rem;
        }
    
        100%{
            top: -24rem;
        }
    }
}
@media (min-width: 1280px) {
    .nav-links a {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--primary-color);
        margin: 0.9rem;
        text-align: center;
    }
 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.05rem;
        position: relative;
        top: -30rem;
        animation: drop-down 1s ease forwards;
    }

    .container .story {
        background-image: url(APATURE\ MESSAGE.gif);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 80vh;
        margin-top: -100px;
    }

    .services .ff {
        object-fit: cover;
    }
    
    .services .ss {
        margin-top: -10px;
        height: 70vh;
    }
      
    .services .videos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        margin: 0 auto;
        height: 160vh;
        position: absolute;
        top: 200vh;
        left: 1rem;
        right: 1rem;
    }

    .services .videos video {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .services .videos .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 100px;
    }
    
    .services .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 1rem;
    }
    
    .services .third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 1rem;
    }

    .contacts {
        background-image: url(new\ contact.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
    
    .contacts .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 330px;
        margin-left: 11%;
    }

    .icons .numbers {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }

    .icons .numbers p {
        font-size: 20px;
        color: #fff;
    }

    .icons .socials {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        width: 11%;
        margin-top: 14px;
    }

    @keyframes drop-down {
        0% {
            top: -21rem;
        }
    
        100%{
            top: -30rem;
        }
    }
}
@media (min-width: 1536px) {
    .nav-links a {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--primary-color);
        margin: 0.9rem;
        text-align: center;
    }
 
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.05rem;
        position: relative;
        top: -36rem;
        animation: drop-down 1s ease forwards;
    }

    .container .story {
        background-image: url(APATURE\ MESSAGE.gif);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 80vh;
        margin-top: -100px;
    }

    .services .ff {
        object-fit: cover;
    }
    
    .services .ss {
        margin-top: -10px;
        height: 70vh;
    }
      
    .services .videos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        margin: 0 auto;
        height: 190vh;
        position: absolute;
        top: 180vh;
        left: 1rem;
        right: 1rem;
    }

    .services .videos video {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    .services .videos .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 100px;
    }
    
    .services .second {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
        gap: 1rem;
    }
    
    .services .third {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        gap: 1rem;
    }

    .contacts {
        background-image: url(new\ contact.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
    
    .contacts .icons {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 360px;
        margin-left: 11%;
    }

    .icons .numbers {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
    }

    .icons .numbers p {
        font-size: 23px;
        color: #fff;
    }

    .icons .socials {
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        width: 10%;
        margin-top: 17px;
    }

    @keyframes drop-down {
        0% {
            top: -21rem;
        }
    
        100%{
            top: -36rem;
        }
    }
}
